sqlalchemy
pydantic
fastapi
uvicorn 
asyncpg 
databases
psycopg2-binary
wheel
pytest
requests
python-dotenv

langchain_openai
langchain_community
langchain
langchain_pinecone
pymysql
chromadb
pinecone
pinecone-client[grpc]

nltk
