.chatbot {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* max-width: 600px; */
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .chips-container{
    background-color: #f9f9f9;
  }
  
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .message.user {
    background-color: #d1e7ff;
    align-self: flex-start;
  }
  
  .message.bot {
    background-color: #ffe6e6;
    align-self: flex-end;
    overflow-y: auto;
  }
  
  .input-form {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .input-wrapper {
    display: flex;
    width: 100%;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }

  .send-button.loading {
    cursor: default;
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
  }

  
  select {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  